scopeName: 'source.markit'
name: 'Markit'
limitLineLength: true
fileTypes: ['mit']
patterns: [
  { begin: '\\A---$', end: '^(---|\\.\\.\\.)$', patterns: [
    { include: 'source.yaml' }
  ] }
  { include: '#escapes' }
  { include: '#tags' }
  { include: '#citations' }
  { include: '#formatting' }
  { include: '#headings' }
  { include: '#quotations' }
  { include: '#punctuation' }
  { include: 'text.xml' }
]
repository: {
  escapes: {
    patterns: [
      { match: '\\\\.', name: 'escape.constant.markit' }
    ]
  }
  tags: {
    patterns: [
      { match: '{title}', name: 'entity.name.tag.markit' }
      { match: '{(AE|ae|OE|oe)}', name: 'entity.constant.markit' }
      { begin: '{\\+\\+', end: '\\+\\+}', name: 'entity.name.tag.insertion.markit', patterns: [
        { include: '#escapes' }
        { include: '#formatting' }
      ] }
      { begin: '{--', end: '--}', name: 'entity.name.tag.deletion.markit', patterns: [
        { include: '#escapes' }
        { include: '#formatting' }
      ] }
      { begin: '{~~', end: '~~}', name: 'entity.name.tag.replacement.markit', patterns: [
        { include: '#escapes' }
        { include: '#formatting' }
        { match: '->', name: 'punctuation.arrow.markit' }
      ] }
      { begin: '{', end: '}', name: 'entity.name.tag.markit', patterns: [
        { include: '#escapes' }
        { match: ',', name: 'punctuation.comma.markit' }
        { match: '#[^,}]+', name: 'entity.id.markit' }
        { match: '[^,}]+=[^,}]+', name: 'entity.other.attribute-name.markit' }
      ] }
    ]
  }
  citations: {
    patterns: [
      { begin: '\\[', end: '\\]', name: 'citation.markit', patterns: [
        { include: '#escapes' }
        { include: '#formatting' }
      ] }
    ]
  }
  formatting: {
    patterns: [
      { include: '#bold' }
      { include: '#italic' }
      { include: '#smallcaps' }
      { include: '#foreign' }
      { include: '#name' }
      { include: '#comment' }
    ]
  }
  headings: {
    patterns: [
      { begin: '£1 ', end: ' £1', name: 'heading.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#formatting' }
      ] }
      { begin: '£2 ', end: ' £2', name: 'heading.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#formatting' }
      ] }
      { begin: '£3 ', end: ' £3', name: 'heading.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#formatting' }
      ] }
      { begin: '£4 ', end: ' £4', name: 'heading.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#formatting' }
      ] }
      { begin: '£5 ', end: ' £5', name: 'heading.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#formatting' }
      ] }
      { begin: '£6 ', end: ' £6', name: 'heading.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#formatting' }
      ] }
    ]
  }
  quotations: {
    patterns: [
      { include: '#blockQuotation' }
      { include: '#inlineQuotation' }
    ]
  }
  punctuation: {
    patterns: [
      { match: '&', name: 'punctuation.markit' }
      { match: '~~', name: 'punctuation.emsp.markit' }
      { match: '~', name: 'punctuation.nbsp.markit' }
      { match: '//', name: 'punctuation.line-break.markit' }
      { match: '\\|', name: 'punctuation.page-break.markit' }
    ]
  }
  bold: {
    patterns: [
      { begin: '\\*', end: '\\*', name: 'formatting.bold.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#tags' }
        { include: '#italic' }
        { include: '#smallcaps' }
        { include: '#foreign' }
        { include: '#name' }
        { include: '#comment' }
      ] }
    ]
  }
  italic: {
    patterns: [
      { begin: '_', end: '_', name: 'formatting.italic.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#tags' }
        { include: '#bold' }
        { include: '#smallcaps' }
        { include: '#foreign' }
        { include: '#name' }
        { include: '#comment' }
      ] }
    ]
  }
  smallcaps: {
    patterns: [
      { begin: '\\^', end: '\\^', name: 'formatting.smallcaps.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#tags' }
        { include: '#bold' }
        { include: '#italic' }
        { include: '#foreign' }
        { include: '#name' }
        { include: '#comment' }
      ] }
    ]
  }
  foreign: {
    patterns: [
      { begin: '\\$', end: '\\$', name: 'formatting.markup.italic.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#tags' }
        { include: '#bold' }
        { include: '#italic' }
        { include: '#smallcaps' }
        { include: '#name' }
        { include: '#comment' }
      ] }
    ]
  }
  name: {
    patterns: [
      { begin: '=', end: '=', name: 'formatting.markup.bold.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#tags' }
        { include: '#bold' }
        { include: '#italic' }
        { include: '#smallcaps' }
        { include: '#foreign' }
        { include: '#comment' }
      ] }
    ]
  }
  comment: {
    patterns: [
      { begin: '#', end: '#', name: 'formatting.comment.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#tags' }
        { include: '#bold' }
        { include: '#italic' }
        { include: '#smallcaps' }
        { include: '#foreign' }
        { include: '#name' }
      ] }
    ]
  }
  blockQuotation: {
    patterns: [
      { begin: '""', end: '""', name: 'string.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#formatting' }
        { include: '#inlineQuotation' }
      ] }
    ]
  }
  inlineQuotation: {
    patterns: [
      { begin: '"', end: '"', name: 'string.markit', patterns: [
        { include: '#escapes' }
        { include: '#punctuation' }
        { include: '#formatting' }
      ] }
    ]
  }
}
