.syntax--markit {
  .syntax--tag {
    .syntax--punctuation {
      color: gray;
    }
    &.syntax--insertion {
      background: yellow;
      color: inherit !important;
      text-decoration: underline;
    }
    &.syntax--deletion {
      color: gray !important;
    }
    &.syntax--replacement {
      background: yellow;
      color: inherit !important;
      text-decoration: underline;
      .syntax--arrow {
        font-weight: bold;
      }
    }
  }

  .syntax--citation {
    color: royalblue;
  }

  .syntax--heading {
    font-weight: bold;
  }

  .syntax--punctuation {
    font-style: normal;
    color: gray;
    &.syntax--emsp {
      color: royalblue;
      font-weight: bold;
    }
    &.syntax--nbsp {
      color: royalblue;
    }
    &.syntax--page-break {
      color: inherit;
      background: yellow;
    }
  }

  .syntax--formatting {
    &.syntax--bold {
      font-weight: bold;
    }
    &.syntax--italic {
      font-style: italic;
    }
    &.syntax--smallcaps {
      font-variant: small-caps;
    }
    &.syntax--comment {
      font-style: normal;
    }
  }

  .syntax--string .syntax--string {
    text-decoration: underline;
  }
}
